body{
    background-color: #9575cd;
}

.header1{
    font-size: 4vw;
}

.header2{
    font-size: 3vw;
}
.signUpContainer{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:center;
}